<!DOCTYPE html>
<html>

<head>
    <title>@yield('title')</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
    
    body{
        font-family: 'Merriweather', serif;
    }
</style>

<body class="bg-[#ffff]">
    <nav class="w-[100vw] flex justify-center items-center">
        <h1 class="font-3xl font-semibold">Perfect Theme</h1>

        <div class="w-[80%] h-20 flex justify-center items-center">
            <div class="flex justify-center items-center list-none">
                <li class="p-5 mr-4"><a href="">Article</a></li>
                <li class="p-5 mr-4"><a href="">About</a></li>


            </div>
        </div>
    </nav>

</body>

</html>